EXPO_PUBLIC_GEMINI_API_KEY=pon_aqui_tu_api_key_de_gemini
EXPO_PUBLIC_GEMINI_MODEL=gemini-3-flash-preview
EXPO_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=pon_aqui_tu_anon_key_de_supabase
EXPO_PUBLIC_PROJECT_FILES_BUCKET=biomind-project-files
EXPO_PUBLIC_EVIDENCE_FILES_BUCKET=biomind-project-files
